.contacts-list {
    list-style-type: none; 
    padding: 0; 
    text-align: center;
}

.contacts-list li {
    font-size: 20px;
    margin-bottom: 10px; 
    width: 100%;
}

.copyable:hover {
    color: #1e5072;
    cursor: pointer; 
}

.section-title {
    background: #1e5072;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.block {
    width: 100%;
    color: #fff;
    background-color: #7c9c96;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

th {
    background-color: rgb(22, 28, 59);
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    .contacts-list li {
        font-size: 12px; /* Уменьшение размера текста контактов */
    }

    .section-title {
        font-size: 1.5em; /* Уменьшение размера заголовка секции */
    }

    table {
        width: 100%; /* Ширина таблицы занимает 100% ширины экрана */
        overflow-x: auto; /* Горизонтальная прокрутка при необходимости */
    }

    th, td {
        white-space: nowrap; /* Предотвращение переноса содержимого ячеек */
        font-size: 12px;
        }

    .search-container {
        text-align: center;
        margin-bottom: 20px;
        padding: 10px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .search-input {
        padding: 10px;
        width: 80%; /* Ширина поискового поля */
        font-size: 16px;
        margin-bottom: 10px; /* Отступ снизу для поисковой строки */
    }

    .search-button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .table-container {
        margin-top: 20px; /* Увеличим отступ сверху для поисковой строки */
    }
}
