/* Стили для блока CV */
.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
}
.cv .details-toggle {
    color: #003366; 
}
.cv-head {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 325px;
    height: auto;
    border-radius: 20%;
    margin-top: 50px;
}

.info {
    background-color: rgba(255, 255, 0, 0.8);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1e5072;
}

.info p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.cv-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.details {
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #A8E9F1;
    margin-left: 10px;
    margin-right: 10px;
}

.details h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1e5072;
}

.details ul {
    list-style-type: none;
    padding: 0;

}

.details ul li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
}

.cv-head {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 365px;
    height: auto;
    border-radius: 10%;
    margin-top: 50px;
}

.info {
    background-color: rgba(35, 202, 224, 0.3);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1e5072;
}

.info p {
    font-size: 15px;
    line-height: 1.6;
    color: #1e5072;
}

.cv-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.details {
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #A8E9F1;
    margin-left: 10px;
}

.details h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1e5072;
}

.details ul {
    list-style-type: none;
    padding: 0;

}

.details ul li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

.details-block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.details-block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.details-block.show {
    max-height: 500px; /* Увеличить это значение, если необходимо для более длинных списков */
    transition: max-height 0.5s ease-in;
}

.details-toggle {
    cursor: pointer;
}


@media screen and (min-width: 708px) {
    .profile {
        flex-direction: row;
        align-items: flex-start;
    }

    .profile img {
        margin-right: 100px;
        margin-bottom: 0;
    }

    .cv-details {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .details {
        flex-basis: calc(50% - 10px);
    }
}

@media screen and (min-width: 901px) {
    .cv-details {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .details {
        flex-basis: calc(33.33% - 20px); /* Три элемента в ряд */
        margin-bottom: 20px; /* Отступ между рядами */
    }
}