body {
    text-align: center;
}
.title_item {
    margin-top: 70px;
    text-align: center;
}
.title_item iframe {
    text-align: center;
    justify-content: center;
}
.title_item {
    font-size: 3em;
}